/* Light theme colors */
:root {
  --dashboard: #fff;
  --dashboard--text: #000;

  --nav-bar: #e8e8e8;
  --nav-bar-item: #cacaca;

  --button: #ebebeb;
  --button--text: #888888;

  --chart: #fafafa;

  --search-bar: #ededed;
  --search-bar--active: #f8f8f8;
  --search-bar-key: #d9d9d9;
}

/* Dark theme colors */
[data-theme="dark"] {
  --dashboard: #242424;
  --dashboard--text: #f6f7f8;

  --nav-bar: #2e2e2e;
  --nav-bar-item: #454545;

  --button: #464646;
  --button--text: #bcbcbc;

  --chart: #323232;

  --search-bar: #333333;
  --search-bar--active: #282828;
  --search-bar-key: #292929;
}

/* Chart colors */
.highcharts-root {
  .highcharts-background {
    fill: var(--dashboard);
  }

  text {
    fill: var(--dashboard--text) !important;
  }

  .highcharts-tooltip {
    .highcharts-label-box {
      fill: var(--dashboard);
    }

    text {
      fill: var(--dashboard--text) !important;
    }
  }
}

body {
  margin: 0;
  font-family: 'Roboto';

  color: var(--dashboard--text);
  background-color: var(--dashboard);
}

#app {
  min-height: 100dvh;
  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  @media (min-width: 1080px) {
    flex-direction: row;
    padding-right: 2.5rem;
    gap: 4rem;
  }
}
