:root {
  --background-color: #F6F7F8;
  --content-color: #242424;
}

[data-theme="dark"] {
  --background-color: #242424;
  --content-color: #F6F7F8;
}

body {
  background-color: var(--background-color);
  color: var(--content-color);
}
